* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #taskForm {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  #taskList li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 8px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  #taskList li.completed {
    text-decoration: line-through;
  }


  h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
    margin-bottom: 18px;
  }